@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Delius", cursive;
    
}

.form-con{
    margin: 0;
    justify-content: left;
    display: grid;
    align-items: center;
} 

form{
    width: 110%;
    max-width: 1000px;
    
}

span {
  margin-left: 5px;
}

input{
    font-family: "Delius", cursive;
}

.fixImport-txt{
    width: 44%;
    max-width: 500px;
}

input[type = 'number'] {
  width: 10%;
}

input[type = 'submit']{
    width: 17%;
}
 