@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');

body, html { height: 46%; margin: 0;   min-height: 776px; font-family: "Abhaya Libre", serif;;font-size: 15px;}

header { display: flex; justify-content: center; align-items: center; }
header h1 { margin: 0; }

.sections { display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: 1fr 1fr; width: 100vw; min-height: 732px; height: 50%; }

.sections>div { border: 1px solid #fff; }

.first-section { background: #FFADAD; }

.second-section { background: #FFD6A5; }

.third-section { background: #FDFFB6; }

.fourth-section { background: #CAFFBF; }

/* Responsive: Stack vertically on small screens */
@media (max-width: 768px) {
    .sections { grid-template-columns: 1fr; grid-template-rows: repeat(4, 1fr); width: 100vw; min-height: 1284px; height: 40%; }
}
  

.sections h2 { margin: 0; padding: 30px; text-transform: capitalize;}

input { padding: 20px; width: 44%; max-width: 288px; margin-left: 60px; border-radius: 10px; font-size: 15px;}

label { width: 30%; max-width: 220px;   font-size: 20px;margin: 0 70px;}

p { font-size: 20px; margin: 0; padding: 30px; }