  html {
      scroll-behavior: smooth;
    }

    body {
      margin: 0;
      font-family: Arial, sans-serif;
      font-size: 24px;
    }

   .navbar {
  background-color: #333;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 7px;
  position: sticky;
  top: 0;
  z-index: 1000;
}


    .navbar a {
      color: white;
      padding: 11px 30px;
      text-decoration: none;
      display: block;
    }

    .navbar a:hover {
      background-color: #111;
    }

    .navbar .menu {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      justify-content: center;
      align-items: center;
    }

    .navbar .icon {
      display: none;
      font-size: 20px;
      cursor: pointer;
      padding: 14px 16px;
    }

    .section {
      height: 600px;
      padding: 20px;
      color: white;
    }

    #section0 { background-color: #4CAF50; }
    #section1 { background-color: #2196F3; }
    #section2 { background-color: #f44336; }
    #section3 { background-color: #FF9800; }
    #section4 { background-color: #9C27B0; }

    /* Responsive style */
    @media screen and (max-width: 768px) {
      .navbar .menu {
        display: none;
        flex-direction: column;
        width: 100%;
      }

      .navbar.responsive .menu {
        display: flex;
      }

      .navbar .icon {
        display: block;
      }
    }