  @import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
  

  *{
    font-family: "Figtree", sans-serif;
  }
  html {
      scroll-behavior: smooth;
    }

    body {
      margin: 0;
       font-family: "Figtree", sans-serif;
      font-size: 24px;
    }

   .navbar {
  background-color: #333;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 7px;
  position: sticky;
  top: 0;
  z-index: 1000;
}


    .navbar a {
      color: white;
      padding: 11px 30px;
      text-decoration: none;
      display: block;
    }

    .navbar a:hover {
      background-color: #111;
    }

    .navbar .menu {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      justify-content: center;
      align-items: center;
    }

    .navbar .icon {
      display: none;
      font-size: 20px;
      cursor: pointer;
      padding: 14px 16px;
    }

    .section {
      height: 600px;
      padding: 20px;
      color: white;
    }

    element {
}
.button:hover { background: #A4B465; }
.button { width: 100px; height: 40px; border-radius: 10px; border: 1px solid #fff; margin: 20px 80px 0; text-transform: capitalize; background: transparent; color: white; background: #626F47; }

#section0{}
    #section0 { background-color: #4CAF50; }
    #section1 { background-color: #FFF9D0; color: black;}
    #input { height: 40px; width: 250px; display: block; border-radius: 15px; margin-bottom: 40px; }
    .result { text-align: center; margin-top: 30px;}
    label { text-transform: capitalize; }
    #section2 { background-color: #FF6666; min-height: 1280px;}
    .cell_con { width: 100%; display: flex; flex-wrap: wrap; justify-content: space-between;row-gap: 40px;}
    .cell { max-width: 170px; width: 12%; }
    #section3 { background-color: #FF9800; }
    #section4 { background-color: #9C27B0; }
#word1, #word2 { height: 40px; width: 250px; display: block; border-radius: 15px; margin-bottom: 40px;}
#section0 { background-color: #626F47; }
form { margin: 0 auto; width: 260px; }
h2 { text-align: center; margin: 100px 0; }
    /* Responsive style */
    @media screen and (max-width: 768px) {
      .navbar .menu {
        display: none;
        flex-direction: column;
        width: 100%;
      }

      .navbar.responsive .menu {
        display: flex;
      }

      .navbar .icon {
        display: block;
      }
    }