# Enable the rewrite engine
RewriteEngine On

# If the requested file without ".php" exists, internally rewrite to the .php file
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+)$ $1.php [L]

# Custom error page for internal server errors
ErrorDocument 404 /Day14Activity/public/error.php
ErrorDocument 500 /Day14Activity/public/error.php